<div class="background-neutral-0 full-height-vh">
  <ion-header class="container" [translucent]="true" mode="md" class="shadow-medium" color="primary">
  <ion-title class="titulo">
    <h1>StoreApp</h1>
  </ion-title >
  <ion-img src="assets/img/ilus_home.svg" alt="StoreApp Logo" class="logo" />
</ion-header>
<div class="container-buttons">
    <div>
    <ion-button routerLink="/login" mode="ios" color="primary">Iniciar sesión</ion-button>
  </div>
  <div>
    <ion-button routerLink="/products" mode="ios" color="secondary">Ver productos</ion-button>
  </div>
</div>
</div>