
.ticket.space{
  padding:16px;
}
ion-searchbar{
  --background-color: #f6f7fb;
  --highlight-color-focused: #ffffff;
  --box-shadow: 0 2px 8px rgba(88,100,153,0.08)
  
}
/* Scoped components require higher specificity to customize */
ion-searchbar.custom {
  --background: #ffffff;
  --color: #000000;
  --placeholder-color: #999999;
  --icon-color: #999999;
  --clear-button-color: #999999;
  --border-radius: 3px;
  padding:0;
}
ion-searchbar.ios.custom {
  --cancel-button-color: #999999;
}

ion-searchbar.md.custom {
  --cancel-button-color: #999999;
}
.list-ios{
  background:#f6f7fb !important;
}

/* Lista */
.movie-list {
  margin: 4px 16px;
  overflow: hidden;
  border-bottom:0;
  padding:8px 0;
  border-radius:4px;
}
.movie-item-container {
  background: #ffffff;
  border-radius:4px;;
}

/* Poster */
ion-thumbnail {
  width: 55px;
  height: 80px;
  border-radius: 4px;
  overflow: hidden;
  margin-right: 16px;
}

/* Info película */
.movie-info {
  display: flex;
  flex-direction: column;
}

.movie-year {
  font-size: 12px;
  color: #a0a0a0;
}

.movie-title {
  font-size: 15px;
  font-weight: 600;
  color: #212121;
  padding: 8px 0;
}

.movie-genre {
  font-size: 12px;
  color: #808080;
}

/* Quitar línea al último */
.movie-item:last-child {
  border-bottom: none !important;
}

.favorites-count{
  font-size: 16px;
  color: #586499;
  font-weight: 600;
  margin: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:4px;
}

.count-result{
  background-color:#f4f6ff;
  font-size: 14px;
  margin: 16px 16px 8px 16px;
  color: #586499;
  text-align: center;
  padding-bottom: 16px;
  border-bottom: 2px solid rgba(237, 236, 236, 0.983);
}

.lista-card{
  display:flex;
  flex-direction: column;
  gap: 12px;
  background: #ffffff;
  border-radius: 12px;
}


/*Carousel*/
.carousel {
    margin: 0 auto;
    padding: 8px 0;
    max-width: 700px;
    overflow: hidden;
    display: flex;
    > * {
      flex: 0 0 100%;
    }
    .group {
    display: flex;
    gap: 20px;
    /* Agrega padding a la derecha para crear un espacio entre la última y la primera tarjeta. */
    padding-right: 20px;
  }
  }
  .card {
    width: 250px;
    background: white;
    border-radius: 16px 0 16px;
    box-shadow: rgba(0, 0, 0, 0.1) 5px 5px 20px 0;
    display: flex;
    align-items: center;
    height: 110px;
    border: 2px solid #586499;
    position: relative;

    .img-carousel {
      box-sizing: border-box;
      object-fit: cover;
      display: block;
      max-width: 75px;
      max-height: 100%;
      height: 100%;
      border-top-left-radius: 14px;
    }   
        .detail-carousel {
          text-align: left;
          font-size: 14px;
          padding: 8px;
          color: #212121;
          display: flex;
          flex-direction: column; 
          gap:8px;
    
          .detail-title {
            align-items: center;
            font-size: 16px;
            width: 90%;
            font-weight: 600;
            color: #212121;
          }
    
          .detail-year {
            font-size: 14px;
            color: #a0a0a0;
          }
    
          .detail-genre {
            font-size: 12px;
            color: #808080;
          }
        }  
     @keyframes blink {
        0%, 100% { opacity: 1; }
        50% { opacity: 0.2; }
        }

      .icon-blink {
        animation: blink 3s infinite;
        font-size: 20px;
        position: absolute;
        top: 10px;
        right: 10px;
        }    
  }
  
    
  .group {
    /* ... */
    will-change: transform; /* Deberíamos ser amables con el navegador: hazle saber qué vamos a animar. */
    animation: scrolling 20s linear infinite;
  }

  @keyframes scrolling {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .container-unique {
    padding: 0 16px;
  }

  ion-item{
    a div.item-inner{
      border-color: red !important;
    }
  }
  
  div.item-inner{
    border-color: red !important;
  }
 

ion-badge.custom{
  background-color: #586499;
  color: white;
  font-size:18px;
  font-weight: 600;
}
.favorites-count p{
  margin:0px;
  font-size: 18px;
  font-weight: 600;
}
