.back-btn {
  --padding-start: 0;
  --padding-end: 0;
  --margin-start: 0;
  --margin-end: 8px;
}

.right-slot-spacer {
  width: 44px;
  height: 44px;
}

ion-toolbar {
  --background: var(--color-header) !important;
  --min-height: 64px;
  padding-inline: var(--space-s);
}

.header-title {
  color: var(--color-neutral-9);
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-bold);
  letter-spacing: 0.03em;
  line-height: 1.2;
  text-wrap: balance;
  text-rendering: optimizeLegibility;
}

ion-back-button.custom {
  max-height: 54px;
  max-width: 54px;
  --icon-font-size: 36px;
}
.header-app {
  display: flex;
  align-items: center;
}